@charset "UTF-8";

html{
    font-size: 20px;
    
}

h1{
    color:#4682b4;
    font-size: 5vw;
}

img{
    max-width: 100%;
    height: auto;
}

.text{
    font-size: clamp(16px,2vw,24px);
}

.box{
    background-color: aquamarine;
    border: 1px solid #4682b4;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
}

.flex{
    display: flex;
    gap: 10px;
}
/* メディアクリエ */
@media (max-width:600px){
    .flex{
        /* フレックスアイテムを上から下へ並べる */
        flex-direction: column;

    }

    .box{
        background-color: #8a2be2;
        border: 1px solid #5d1c99;
    }

}